html {
  height: 100vh;
}
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  background-image: url("../image/2024_1.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100% 50%;
  background-attachment: fixed;
  /*
    header 높이를 임의값(50%)로 지정하고
    내부에 포함된 content(text)를 화면 중앙에 배치하기
    */
  height: 50%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: auto;
  padding: 5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

section.main {
  border: 1px solid transparent;
  background-image: url("../image/2024_2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}
article.btn_write {
  /* box의 크기를 blog_body와 같게 */
  width: 80%;
  /* box의 위치를 중앙정렬 */
  margin: 5px auto;
  /* box에 포함된 content를 화면 중앙에 배치하기*/
  text-align: right;
  padding: 10px 0;
  color: white;
}
article.btn_write a {
  background-color: rgba(150, 150, 150, 0.5);
  border-radius: 20px;
  color: blue;
  font-weight: 500;
  padding: 12px 16px;
}
article.btn_write a:hover {
  background-color: rgba(150, 150, 150, 1);
}
article.blog_body {
  width: 80%;
  border: 1px solid green;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin: 10px auto;
}
div.blog_title {
  background-color: teal;
  padding: 1rem 8px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
div.blog_text {
  padding: 1rem 8px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid green;
  background-color: rgba(150, 150, 150, 0.5);
}
footer {
  padding: 0.5rem;
  background-color: #ddd;
  text-align: center;
}
